# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

repo/zips/skin.embuary-matrix/skin.embuary-matrix-19.0.1.zip
Backup/nikeflixwizard.zip
